body {
  font-family: Arial, sans-serif;
  background-color: #f0f8f5;
  color: #333;
  margin: 20px;
  padding: 40px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #6bbf70;
  padding: 40px;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 64px;
}

form {
  margin-top: 80px;
}

label {
  display: block;
  margin-top: 60px;
  font-weight: bold;
  color: #555;
  font-size:30px;
}

input[type="number"],
select {
  width: 100%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

input[type="text"],
select {
  width: 100%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

input[type="checkbox"] {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}

button {
  background-color: #6bbf70;
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.result {
  margin-top: 80px;
  padding: 40px;
  background-color: #c1e5d3;
  text-align: center;
}

.result h2 {
  margin: 0;
  font-size: 48px;
  color: #333;
}

.result p {
  margin: 40px 0;
  color: #555;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

footer p {
  margin: 0;
}

  
